$Light-Cyan : hsl(193, 38%, 86%);
$Neon-Green : hsl(150, 100%, 66%);
$Grayish-Blue: hsl(217, 19%, 38%);
$Dark-Grayish-Blue: hsl(217, 19%, 24%);
$Dark-Blue: hsl(218, 23%, 16%);
$weight : 800;
$size : 28px;

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    text-align: center;
    background-color: $Dark-Blue;
    font-family: 'Manrope', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 2rem 2rem 4rem;
    background-color: $Dark-Grayish-Blue;
    width: 34rem;
    border-radius: 20px;
    position: relative;
   
    h3 {
        color:$Neon-Green;
        letter-spacing: 5px;
        font-weight: $weight;
        font-size: 15px;
        display: flex;
    }
    p{
        padding: 1rem;
        font-size: $size;
        color: $Light-Cyan;
        font-weight: $weight;
    }
}


button {
    border-radius: 50%;
    padding: 1.2rem;
    background-color: $Neon-Green;
    border: none;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    width: 4rem;
    height: 4rem;
    transition: .2s ease-in-out;
    img{
        animation: rotate 3s linear infinite;
    }
}

@keyframes rotate {
0%{
    rotate: 0deg;
}
50%{
    rotate: 180deg;
}
100%{
    rotate: 360deg;
}
}

button:hover {
    box-shadow: 0 0 1em .25em $Neon-Green,
    0 0 4em 1em $Neon-Green,
    inset 0 0 .75em .25em $Neon-Green;
}

@media (max-width: 768px) {
    main {
        width: 80%;
    }
}



.spinner {
    --size: 30px;
    --clr: #111;
    width: 100px;
    height: 100px;
    position: relative;
    display: none;
   }
   
   .spinner::after,.spinner::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    width: var(--size);
    height: var(--size);
    top: 50%;
    animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
    left: 50%;
    background: $Neon-Green;
   }
   
   .spinner::after {
    background: $Light-Cyan;
    top: calc(50% - var(--size));
    left: calc(50% - var(--size));
    animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
   }
   
   @keyframes down {
    0%, 100% {
     transform: none;
    }
   
    25% {
     transform: translateX(100%);
    }
   
    50% {
     transform: translateX(100%) translateY(100%);
    }
   
    75% {
     transform: translateY(100%);
    }
   }
   
   @keyframes up {
    0%, 100% {
     transform: none;
    }
   
    25% {
     transform: translateX(-100%);
    }
   
    50% {
     transform: translateX(-100%) translateY(-100%);
    }
   
    75% {
     transform: translateY(-100%);
    }
   }
   